[data-twr-table-sorter], [twr-table-sorter] {
    white-space:nowrap;
    cursor: pointer;
    position: relative;

    &.twr-sort-desc, &.twr-sort-asc {
        .fa-sort {
            display:none;
        }
    }

    &.twr-sort-desc i.fa-sort-desc {
        display: inline-block;
    }

    &.twr-sort-asc i.fa-sort-asc {
        display: inline-block;
    }

    i {
        margin-left: 5px;

        &.fa-sort {
            color:#999;
        }

        &.fa-sort-desc, &.fa-sort-asc {
            display:none;
        }
    }
}

@media print {
    [data-twr-table-sorter], [twr-table-sorter] {
        i {
            &.fa-sort, &.fa-sort-desc, &.fa-sort-asc {
                display:none !important;
            }
        }
    }
}