table[data-twr-sortable-table], table[twr-sortable-table] {
    [data-twr-table-sorter], [twr-table-sorter] {
        white-space: nowrap;
        cursor: pointer;
        position: relative;

        i.twr-sorter-icon {
            font-size:0.8em;
            position:relative;
            margin:0 0.2em;
            padding-right:0.4em;

            &:before, &:after {
                position: absolute;
                opacity:0.5;
            }

            &:before {
                top:-0.8em;
                content: '\25b2';
            }

            &:after {
                top:0.1em;
                content: '\25bc';
            }
        }

        &.twr-sort-asc .twr-sorter-icon {
            &:before {
                opacity:1;
            }
            &:after {
                display:none;
            }
        }

        &.twr-sort-desc .twr-sorter-icon {
            &:before {
                display:none;
            }
            &:after {
                opacity:1;
            }
        }
    }
}

@media print {
    table[data-twr-sortable-table], table[twr-sortable-table] {
        [data-twr-table-sorter], [twr-table-sorter] {
            i.twr-sorter-icon {
                display:none !important;
            }
        }
    }
}